<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Receitas</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

    <h1>Livro de Receitas</h1>

    <div class="container">

        {{#each receitas}}

        <a class="card" href="/receita/{{id}}">

            <h2>{{nome}}</h2>

            <p>{{descricao}}</p>

            <button>Ver Receita</button>

        </a>

        {{/each}}

    </div>

</body>

</html>